.header {
    color: blanchedalmond;
    font-size: 40px;
    font-weight: 600;
}

.headerBox {
    text-align: center;
}


.blogLink {
    text-decoration: none;
    color: blanchedalmond;
    border-bottom: 2px solid grey;
    margin-top: 80px;
}

.blogLink:hover {
    text-decoration: none;
    color: grey;
}