.mainInfoBox {

}

.recentsBox {
    margin-bottom: 15vh;
}


.linkBox {
    text-align: center;
    margin-bottom: 15vh;
    border-bottom: 1px solid #CCC5B9;
}

.link {
    color: #FFFCF2;
    text-decoration: inherit;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    text-shadow: -1px 0px 1px #CCC5B9;
}

.link:hover {
    color: #EB5E28;
    text-decoration: inherit;
}


.infoTitle {
    color: #CCC5B9;
    text-decoration: inherit;
    font-size: 25px;
    font-weight: 800;
    margin-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 1px groove #CCC5B9;
}

.recentsLink {
    color: #CCC5B9;
    text-decoration: inherit;
    font-size: 20px;
    margin-top: 30px;
    padding-top: 5px;
    border-top: 1px groove #EB5E28;
    width: 80%;
    margin-left: 20%;
}

.recentsLink:hover {
    color: #EB5E28;
    text-decoration: inherit;
    border-top: 1px groove #CCC5B9;
    width: 100%;
    margin-left: 0%;
}

.tag {
    color: #403D39;
    font-size: 18px;
    font-weight: 800;
    text-shadow: .1px 0px #EB5E28;
    margin-top: 20px;
}

