.layoutBox {
    margin-bottom: 3em;
}

.navBox {
    text-align: center;
    background: black;
    border: black;
    padding: .5em;
}

.navLink {
    color: blanchedalmond;
    margin: 0 5vw;
    box-shadow: none;
    text-decoration: none;
}

.title {
    display: inline-block;
    color: blanchedalmond;
    margin: 0 30vw 0 0;
    box-shadow: none;
    text-decoration: none;
}