.topBar {
    height: 5vh;
    width: 100%;
    background-color: black;
    margin: 0;
}

.link {
    background-color: cadetblue;
    color: coral;
    float: left;
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 30px;
}